﻿@{
    ViewBag.Title = "ControlDefinition";
}
<div class="container">
    <div class="page-header">
        <h2>Control Definition</h2>
    </div>
    <div class="container">
        <div class="col-md-4">
            <ul class="nav nav-tabs">
                <li><a href="#tbpgMarkup" data-toggle="tab">Markup</a></li>
                <li><a href="#tbpgModel" data-toggle="tab">Model</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tbpgMarkup">
                    <label>Name:</label>
                    <input type="text" id="txtName" value="" />
                    <label>Enter control markup:</label>
                    <div>
                        <textarea id="txtMarkup" rows="10"></textarea>
                    </div>
                </div>
                <div class="tab-pane" id="tbpgModel">
                    <label>Enter model json:</label>
                    <div>
                        <textarea id="txtModel" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <button id="btnRender" class="btn" data-inv-action-url="@Url.Action("RenderMarkupHtml", "Home")">Render</button>

            <div class="col-md-4">
                <div id="controlLayout">
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var actionUrl = $('#btnRender').attr('data-inv-action-url');
        $('#btnRender').click(function () {
            var name = $('#txtName').val();
            var markup = $('#txtMarkup').val();
            var model = $('#txtModel').val();
            $.ajax({
                type: 'post',
                url: actionUrl,
                data: { 'markup': markup, 'name': name, 'model': model },
                success: function (response, textStatus, xhr) {
                    var data = response;
                    var markupGenerated = $(data);
                    $('#controlLayout').empty();
                    $('#controlLayout').append(markupGenerated);
                },
                error: function (xhr, textStatus, error) {
                    console.log(xhr, textStatus, error);
                },
                dataType: 'html'
            });
        });
    </script>
}
