﻿<div class="container">
    <div class="page-header">
        <h1>Landing page</h1>
    </div>
    <div class="container row">
        <div class="col-md-3">
            <div>
                @Html.ActionLink("Control definition", "ControlDefinition", "Home")
            </div>
            <div>
                @Html.ActionLink("View Rendering", "ViewRendering", "Home")
            </div>
        </div>
        <div class="col-md-9">
            this is regular stuff
        </div>
    </div>
</div>
